<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="App\\Tests">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
      <const name="WEB_SERVER_HOST" value="localhost" />
      <const name="WEB_SERVER_PORT" value="1349" />
      <const name="WEB_SERVER_DOCROOT" value="./public" />
    </php>
</phpunit>
