.panel-component, .panel-tutorial {
  padding-left: 0;
  padding-right: 0;
}

.panel-component .panel-heading,
.panel-component .panel-footer,
.panel-tutorial .panel-footer {
  background-color: transparent;
}

.panel-component .panel-body {
  min-height: 144px;
}

.community-review-team {
  min-height: 240px;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}
